/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300;400&display=swap');

/* font css variables */
:root {
    --font-primary: 'Ubuntu', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background: #291C21;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #664752;
}

::-webkit-scrollbar-track {
    background: #260C1A;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

/* Reset default margin, padding, and box sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    text-align: center;
    background: #260C1A;
    color: white;
    fill: white !important;
    font-family: var(--font-primary);
    overflow-x: hidden;
}

/* Specify font family used in charts */
text {
    font-family: var(--font-primary) !important;
}

/* Header styles */

header {
    max-width: 1500px;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 0 auto;
    display: none;
}

/* Info icons styles */
.dc-chart,
section {
    position: relative;
}

.info {
    font-size: 18px;
    position: absolute;
    top: .2em;
    left: .3em;
    color: white;
    opacity: .2;
    width: 18px;
    height: 18px;
    transition: opacity 300ms ease-in-out;
    z-index: 999;
}

.info:hover {
    opacity: 1;
}


/* Main container styles */
.container {
    max-width: 1500px;
    margin: 0 auto;
    display: none;
    background-color: rgba(255, 255, 255, 0.05)
}

/* Changing default dc.js css properties for chart axis */
.axis path,
.axis line {
    stroke: white !important;
}


/* Headings styles */
#heading {
    font-size: 200%;
    padding: 40px;
}

h4 {
    padding: .5em;
    margin-bottom: .5em;
    display: inline-block;
    letter-spacing: 1.2px;
    font-size: 1.2em;
}

h4 span {
    font-size: .8em;
    opacity: 0.9;
}

a {
    color: yellowgreen;
}


/* Styles for the loader */
#loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Hiding error message by default */
#error {
    display: none;
}

/* Styles for all sections */
section {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 100px;
    border: 2px solid #432E36;
    border-radius: 5px;
    padding: .5em;
}

/* Head section styles */
#head-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.map-holder {
    width: 60%;
    height: 100%;
    border: 2px solid #432E36;
    border-radius: 5px;
}

#us-map .layer0 {
    transform: translate(-5%, 0)
}

#us-map path {
    stroke: none !important;
}

.selectors {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#total-num {
    font-size: 200%;
    padding: 1em;
    margin-bottom: .5em;
    border: 2px solid #432E36;
    border-radius: 5px;
}

#weather-selector {
    height: 85%;
    border: 2px solid #432E36;
    border-radius: 5px;
    padding: 0.5em;
}

#weather-selector h4 {
    margin-bottom: 1em;
}

#weather-selector .dc-legend {
    transform: translate(0, 10px) !important;
}

/* Styles for the section with graphs for top 10 states, counties, and cities */
#tops-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#tops-section div {
    height: 100%;
    width: 100%;
}

#top-states .row>text,
#top-counties .row>text,
#top-cities .row>text {
    font-size: 25px !important;
}

#top-states .tick>text,
#top-counties .tick>text,
#top-cities .tick>text,
#severity .row>text {
    font-size: 20px !important;
}

.dc-legend-item>text {
    font-size: 16px !important;

}

/* Styles for section with severity chart, and day-night pie chart */
#severity-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#severity {
    width: 70%;
}

#day-night {
    width: 30%;
    height: 100%;
}

/* Table section styles */
#table-section {
    margin-bottom: 0;
    padding-bottom: 1em;
}

#data-table {
    margin: 1em auto;
    font-family: var(--font-secondary);
    width: 100%;
    border: 2px solid #432E36;
    border-radius: 5px;
}

tr:hover {
    opacity: .8;
}

td,
th {
    border: 1px solid #432E36;
    padding: .2em
}

th {
    background-color: #432E36;
}

tr:nth-child(even) {
    background-color: #432E36;
}

/* Footer styles */
footer {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    background-color: #432E36;
    padding: 1em;
    line-height: 1.5;
}

footer div {
    margin: 0 auto;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .5em;
}


.library-logo {
    width: 2.5em;
    padding: 0.5em;
    transition: transform 200ms ease-in-out;
}

.library-logo:hover {
    transform: scale(1.2);
}

footer i {
    transition: transform 200ms ease-in-out;
    font-size: 1.45em;
    width: 2em;
    padding: 0.5em;
}

footer i:hover {
    transform: scale(1.2);

}

/* Media query for tablets and mobile devices */
@media screen and (max-width: 1100px) {
    section {
        margin-bottom: 20px;
    }

    #head-section {
        flex-direction: column-reverse;
        border: none;
    }

    .map-holder {
        width: 100%;
        border: 2px solid #432E36;
        border-radius: 5px;
        margin-top: 15px;
    }

    .selectors {
        width: 100%;
    }

    #weather-selector svg {
        width: 70%;
    }


    #timeline text {
        font-size: 16px !important;
    }


    #tops-section {
        flex-direction: column;
    }

    #tops-section div {
        margin: 2em auto;
    }

    #tops-section svg {
        width: 80%;
    }

    #severity-section {
        flex-direction: column;
    }

    #severity-section div {
        margin: 2em auto;
    }

    #severity {
        width: 100%;
    }

    #severity text {
        font-size: 15px !important;
    }

    #day-night {
        width: 60%;
    }

    #day-of-week-chart text {
        font-size: 15px !important;
    }

    #day-of-week-chart .row text {
        font-size: 20px !important;
    }

    #table-section {
        overflow-x: scroll;
    }

    #data-table {
        font-size: 12px;
    }
}

@media screen and (max-width: 710px) {
    footer {
        flex-direction: column;
        line-height: 1.2;
    }

    #head-section {
        padding: 0;
    }

    #weather-selector svg {
        width: 100% !important;
    }

    #tops-section div {
        margin: .5em auto;
    }

    #tops-section svg {
        width: 100%;
    }

    #severity-section div {
        margin: .5em auto;
    }

}

@media screen and (max-width: 500px) {
    #heading {
        font-size: 1.5em;
    }

    #day-night {
        width: 90%;
    }

    h5 {
        font-size: 70%;
    }

}