* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: #260C1A;
    color: white;
    fill: white !important;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    display: none;
    background-color: rgba(255,255,255,0.05)
}

.axis path,
.axis line {
    stroke: white !important;
}

#heading {
    font-size: 200%;
    padding: 20px;
    margin-bottom: 20px;
}

#loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#error {
    display: none;
}

.first-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 100px;
    border: 2px solid #432E36;
    border-radius: 5px;
}

.map-holder {
    width: 60%;
    height: 100%;

}

#us-map .layer0 {
    transform: translate(-5%, 0)
}

#us-map path{
    stroke: none !important;
}

.selectors {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#total-num {
    font-size: 200%;
    padding: 1em;
    margin-bottom: .5em;
    border: 2px solid #432E36;
    border-radius: 5px;
}

#weather-selector {
    height: 85%;
     border: 2px solid #432E36;
     border-radius: 5px;
     padding: 0.5em;
}

#weather-selector h4 {
    margin-bottom: 1em;
}

#weather-selector .dc-legend {
    transform: translate(0, 10px) !important;
}

#timeline {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 100px;
    border: 2px solid #432E36;
    border-radius: 5px;
}

h4 {
    padding: .5em;
    margin-bottom: .5em;
    display: inline-block;
}

a {
   color: yellowgreen; 
}

.tops {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 100px;
    border: 2px solid #432E36;
    border-radius: 5px;
}

.tops div {
    height: 100%;
    width: 100%;
}

#top-states .row>text,
#top-counties .row>text,
#top-cities .row>text {
    font-size: 25px !important;
}

#top-states .tick>text,
#top-counties .tick>text,
#top-cities .tick>text,
#severity .row>text {
    font-size: 20px !important;
}

.dc-legend-item > text {
    font-size: 16px !important;
    
}

.second-section {
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    border: 2px solid #432E36;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 100px;
}

#severity {
    width: 70%;
}

#day-night {
    width: 30%;
    height: 100%;
}

#data-table {
    width: 95%;
    margin: 1em auto;
    border: 2px solid #432E36;
    border-radius: 5px;
    
}

td, th {
    border: 1px solid #432E36;
    padding: .2em
}

th {
    background-color: #432E36;
}

tr:nth-child(even) {
    background-color: #432E36;
}